<div class='container text-center'>
  
  <h1>推し友♡ROOM</h1>
    <p>『推し友ROOM』は、推し活友だちを探すサイトです。</p>
    <p>同じグループ・メンバーを推している様々な年齢・地域の人たちと繋がれます。</p>
    <p>一緒に推し活をする友だちが欲しいけど周りにいない…そんな方！</p>
    <p>ぜひ、この『推し友ROOM』で推し友を探して推し活をもっともっとEnjoyさせましょう☆</p>

</div>